@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  background-color: #000000;
  font-family: 'rubik', sans-serif;
}

h1 {
  text-align: center;
  margin: 40px 0;
}


.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}

.accordion .container {
  position: relative;
  margin: 10px 10px;
}
 
.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.accordion .label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}

.accordion .container.active .content {
  height: 150px;
}

.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
} 




/* back to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
}

#myBtn:hover {
  background-color: #555;
}
html {
  scroll-behavior: smooth;
}

/* menu scroll ke liye main ul pr ye lagao jada menu hai to scroller add ho jayega */

/* width: 350px;
overflow-y: scroll;
height: 500px; */